.add-new-btn {
    background: #F00;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
    position: absolute;
    bottom: 20px;
    right: 20px;
    box-shadow: 0px 2px 13px rgba(0, 0, 0, 0.4);
    color: #FFF;
    font-size: 50px;
    line-height: 62px;
    
    &:active {
        bottom: 17px;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    }
}

// Rendering manipulation
body {
    display: block !important;
    ion-nav-bar > ion-nav-title,
    ion-nav-bar > ion-nav-back-button {
        display: none;
    }
    
    ion-nav-bar[nav-bar-transition='ios'] ion-header-bar {
        height: 64px;
    }
    
    ion-nav-view[nav-view-transition='ios'] .has-header {
        top: 64px;
    }
    
    .header-item {
        display: none;
    }
    &.platform-ready {
        .header-item {
            display: block;
        }
    }
}
