.chat-view {
    $bg-color: #F2F2F2;
    background: $bg-color;
    
    a {
        text-decoration: none;
        font-weight: bold;
        color: inherit;
    }
    
    $image-size: 60px;
    .user-image {
        width: $image-size;
        height: $image-size;
        border-radius: 50%;
        overflow: hidden;
        position: absolute;
        top: 14px;
        left: 10px;
        border: 6px solid $bg-color;
        z-index: 1;
        
        img {
            max-width: 100%;
            height: auto;
        }
    }
    
    ion-list-item {
        position: relative;
        display: block;
        padding-top: 35px;
        margin-top: 10px;
        
        &.retweet {
            padding-top: 6px;
            margin-top: 0px;
        }
    }
    
    
    $speech-bubble-color: #FFF;
    $speech-bubble-my-color: $positive;
    
    .speech-bubble {
        background: $speech-bubble-color;
        margin: -21px 30px 0 70px;
        border-radius: 0px 10px 10px 20px;
        padding: 17px 22px;
        position: relative;
        
        &:before {
            content: "";
            position: absolute;
            border: ($image-size/2) solid rgba(0, 0, 0, 0);
            top: 0;
            left: -($image-size/2);
            display: block;
            border-top-color: $speech-bubble-color;
        }
    }
    
    .tweet-image {
        border-radius: 5px;
        overflow: hidden;
        margin: 10px 0 5px;
        
        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }
    
    .poster {
        position: absolute;
        top: -21px;
        color: #000;
        opacity: 0.6;
        left: 1px;
    }
    
    .own {
        .user-image {
            left: auto;
            right: 10px;
        }
        
        .speech-bubble {
            color: #FFF;
            background: $speech-bubble-my-color;
            margin: -20px 70px 0 30px;
            border-radius: 10px 0 10px 10px;
            
            &:before {
                left: auto;
                right: -($image-size/2);
                border-top-color: $speech-bubble-my-color;
            }
        }
    }
    
    .retweeter,
    .retweetee {
        color: #333;
        font-weight: bold;
    }
    .retweet-status {
        color: #333;
        font-weight: bold;
    }
    
    .all-tweets-loaded {
        text-align: center;
        color: #000;
        opacity: 0.5;
        font-size: 17px;
        margin: 20px 0;
    }
}

#tweet-button {
    border: 0;
    background: transparent;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    min-height: 0;
    line-height: initial;
    vertical-align: middle;
    color: $positive;
    
    &[disabled] {
        color: #666;
    }
}

.tweet-input {
    vertical-align: middle;
    
    &:after {
        content: " #travelmassive";
    }
}
