.chat-view {
    background: rgba(0,102,255,0.2);
    
    a {
        text-decoration: none;
        font-weight: bold;
        color: inherit;
    }
    
    .user-image {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        overflow: hidden;
        position: absolute;
        top: 14px;
        left: 10px;
        
        img {
            max-width: 100%;
            height: auto;
        }
    }
    
    ion-list-item {
        position: relative;
        display: block;
        padding-top: 35px;
    }

    .speech-bubble {
        margin: 0px 30px 0 89px;
        background: #f9f9f9;
        border-radius: 0px 10px 10px 10px;
        padding: 10px 18px;
        position: relative;
        
        &:before {
            content: "";
            position: absolute;
            border: 20px solid transparent;
            top: 0;
            left: -20px;
            display: block;
            border-top-color: #f9f9f9;
        }
    }
    
    .poster {
        position: absolute;
        top: -21px;
        color: #000;
        opacity: 0.6;
        left: 1px;
    }
    
    .own {
        .user-image {
            left: auto;
            right: 10px;
        }
        
        .speech-bubble {
            color: #FFF;
            background: #782167;
            margin: 0 89px 0 30px;
            border-radius: 10px 0 10px 10px;
            
            &:before {
                left: auto;
                right: -20px;
                border-top-color: #782167;
            }
        }
    }
}

#tweet-button {
    border: 0;
    background: transparent;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    min-height: 0;
    line-height: initial;
    vertical-align: middle;
}

.tweet-input {
    vertical-align: middle;
    
    &:after {
        content: " #travelmassive";
    }
}
