.list-hashtags {
    .item {
        color: #000;
    }
    
    .title {
        font-size: 22px;
    }
    .latest-tweet-date {
        opacity: 0.375;
    }
    .latest-tweet {
        opacity: 0.375;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    h2.list-header {
        background: #E7E7E7;
        padding: 10px 20px;
        margin: 0;
        font-size: 18px;
        color: #979797;
        text-transform: uppercase;
    }
}
