.list-hashtags {
    .item {
        color: #000;
    }
    
    .title {
        font-size: 22px;
    }
    .latest-tweet-date {
        opacity: 0.375;
    }
    .latest-tweet {
        opacity: 0.375;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

#add-new-hashtag {
    background: #F00;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
    position: absolute;
    bottom: 20px;
    right: 20px;
    box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.3);
    color: #FFF;
    font-size: 50px;
    line-height: 62px;
}
