<ion-view title="#travelmassive">
    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button class="button-clear">
            <i class="ion-chevron-left"></i> Back
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content has-header="true" has-padding="true" class="chat-view">
        <ion-list>
            <ion-list-item class="">
                <div class="user-image"><img src="https://pbs.twimg.com/profile_images/516818692428939264/tDLkUc1q_bigger.png"></div>
                <div class="speech-bubble">
                    <div class="poster">@travelmassive</div>
                    <div class="message">
                        Silicon Valley #TravelMassive with <a href="">@gogobot</a> <a href="">http://ow.ly/QRiRi</a>  via <a href="">@caskifer</a>
                    </div>
                </div>
            </ion-list-item>
                <ion-list-item class="own">
                    <div class="user-image"><img src="https://pbs.twimg.com/profile_images/378800000167034273/e2de8198a0d22e93512a07bb0a3c2021_bigger.jpeg"></div>
                    <div class="speech-bubble">
                        <div class="poster">@luotojesse</div>
                        <div class="message">
                            Hellowe how world! #travelmassive
                        </div>
                    </div>
                </ion-list-item>
        </ion-list>
    </ion-content>
</ion-view>
