<ion-view view-title="Hashtags" hide-back-button="true">
    <ion-content class="list-hashtags" has-header="true">
        <!-- our list and list items -->
        <div ng-if="hashtags.length">
            <h2 class="list-header">My hashtags</h2>
            <ion-list can-swipe="true">
                <ion-item ng-repeat="hashtag in hashtags" ui-sref='hashtag({ hashtag: hashtag.name })'>
                    <div class="title">#{{ hashtag.name }}</div>
                    <!--<div class="latest-tweet-date">&nbsp;</div>
                    <div class="latest-tweet">&nbsp;</div>-->
                    <ion-option-button class="button-assertive" ng-click="removeHashtag(hashtag.name)">Remove</ion-option-button>
                </ion-item>
            </ion-list>
        </div>
        <div ng-if="lists.length">
            <h2 class="list-header">My lists</h2>
            <ion-list>
                <ion-item ng-repeat="list in lists"  ui-sref='list({ listid: list.id })'>
                    <div class="title">{{ list.name }}</div>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
    
    <div class="add-new-btn" ng-click="addNewHashtag()"><i class="ion-ios-plus-empty"></i></div>
</ion-view>
