<ion-view view-title="Welcome to Hashtags" id="login">
    <ion-nav-bar class="bar-positive">
    </ion-nav-bar>
    <ion-content class="padding">
        <div class="card">
          <div class="item item-text-wrap">
            <h1>Welcome to use Hashtags</h1>
            <p>Hashtags is an app that allows you to easily track and Tweet on hashtags.</p>
            <p>To get started, log in with your Twitter account.</p>
            <div class="centered">
                <button class="button" ng-click="login()"><i class="ion-social-twitter"></i> Log in with Twitter</button>
            </div>
          </div>
        </div>
    </ion-content>
</ion-view>
